<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>KTM</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <style>
                fieldset{
                    width: 400px;
                    height: 270px;  
                    background-image: url('UMY.jpeg');
                    
                }
                p{
                    color: white;
                    margin-top: 138.5px;
                }
                
                h3{
                    color: white;
                }
        </style>
        
        <fieldset>
            <center><h3>KARTU TANDA MAHASISWA</h3></center>
            <hr/>
            
            <img th:src="UMY2.png" style="width: 245px; height: 65px; float: left; margin-top: 20px" />
            
            <img th:src="${gambar}" style="width: 150px; height: 200px; float: right" />
            
            
            <p>
            <l th:text="${paketnama}"></l>
            <br/>
            <l th:text="${paketnim}"></l>
            <br/>
            <l th:text="${pakettgl}"></l>
            <br/>
            <l th:text="${paketeml}"></l>
            </p> 
    </body>
</html>
